<div class="text-layout">
  <h1>DecimalPipe y Porcentaje</h1>
  <p>
    Pipes incluídos en Angular - Usualmente en el CommonModule.
  </p>
</div>

<div class="grid">
  <div class="md:col-4">
    <p-card header="Ventas Netas"
            subheader="Del año actual">
      <ul>
        <!-- Con number se muestran los numeros formateados y los decimales redondeados a 3 decimales-->
        <li><i class="pi pi-dollar"></i> {{ventasNetas | number}}</li>
        <li><i class="pi pi-dollar"></i> {{ventasNetas | number: '1.2-2'}}</li><!-- Les decimos que 2 decimales-->
        <li><i class="pi pi-dollar"></i> {{ventasNetas + 100000000000 | number: '1.2-2'}}</li>
      </ul>
    </p-card>
  </div>

  <div class="md:col-4">
    <p-card header="Ventas Brutas"
            subheader="Del año actual">
      <ul>
        <li>{{ventasNetas + 100000000000 | currency }}</li>
        <li>{{ventasNetas + 100000000000 | currency: '€' }}</li> <!-- Cambiar de moneda -->
        <li>{{ventasNetas | currency: 'EUR':'':'1.4-4' }}</li> <!-- Cambiar de moneda y mostrar 4 decimales-->
      </ul>
    </p-card>
  </div>

  <div class="md:col-4">
    <p-card header="Ganancias porcentual"
            subheader="Del año actual">
      <ul>
        <li>{{porcentaje | percent:'1.2-2' }}</li> <!-- Porcentaje con decimales -->
      </ul>
    </p-card>
  </div>
</div>
